{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

    {% if not htmx %}
        {% include 'beatmaps/form.html' %}
        <script>
            var audioPlayers = {};
            var images = {};
        
            function toggleAudio(songId) {
                if (audioPlayers[songId] === undefined) {
                    audioPlayers[songId] = document.getElementById("audioPlayer" + songId);
                    images[songId] = document.getElementById("overlay-img-" + songId);
                }
        
                var audio = audioPlayers[songId];
                var image = images[songId];

                Object.keys(audioPlayers).forEach(function(key) {
                    if (key !== songId) {
                        audioPlayers[key].pause();
                        images[key].src = '{% static "imgs/play.png" %}';
                    }
                });
        
                var isPlaying = audio.paused;
                
                if (isPlaying) {
                    audio.play();
                    image.src = '{% static "imgs/pause.png" %}';
                } else {
                    audio.pause();
                    image.src = '{% static "imgs/play.png" %}';
                }

                audio.addEventListener('ended', function() {
                    image.src = '{% static "imgs/play.png" %}';
                });
                
            }
            
        </script>
    {% endif %}

    
    <div class="row" id="maps">
    {% for map in maps %}

            <div class="col-xl-4 col-lg-6 col-md-12">

                <div class="map-card" style="background-color: {% set_color_map map.map_type %}">
                    <div class="row">
                        <div class="col">
                            <div class="cont">
                                <audio id="audioPlayer{% get_diff_id map.link %}">
                                    <source src="//b.ppy.sh/preview/{{map.song_id}}.mp3" type="audio/mp3">
                                </audio>
                                <img src="{% static 'imgs/play.png' %}" alt="Overlay Image" class="overlay-img" id="overlay-img-{% get_diff_id map.link %}" onclick="toggleAudio('{% get_diff_id map.link %}')">
                                <img src="https://assets.ppy.sh/beatmaps/{{map.song_id}}/covers/list@2x.jpg" alt="Image" class="map-img" >
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="fields">
                                <div class="map-title"><a href="{{ map.link }}" target=»_blank»>{% title_resize map.title %}</a></div>
                                <div class="field1"><i class="fa-solid fa-microphone"></i> {{ map.artist }}</div>
                                <div class="field1"><i class="fa-solid fa-user"></i> {{ map.mapper }}</div>
                                <div class="field1"><i class="fa-solid fa-hourglass-end"></i> {{ map.total_length|format_time }}</div>
                                <div class="field1"><i class="fa-solid fa-calendar"></i> {{ map.submit_date }}</div>
                                {% if map.source %}
                                    <div class="field1"><i class="fa-solid fa-hashtag"></i> {{ map.source }}</div>
                                {% endif %}
                              </div>
                        </div>
                    </div>
                    
                      <div class="icons">
                        <div class="icon" style="background-color: {% set_color map.star_difficulty  %}"><i class="fa-solid fa-star"></i> <span class="star-span">{% format_dif map.star_difficulty %}</span></div>
                        <div class="icon"><span>AR</span> <span class="val">{{map.ar}}</span></div>
                        <div class="icon"><span>OD</span> <span class="val">{{map.od}}</span></div>
                        <div class="icon"><span>CS</span> <span class="val">{{map.cs}}</span></div>
                        <div class="icon"><span>HP</span> <span class="val">{{map.hp}}</span></div>
                        <div class="icon"><span>BPM</span><span class="val">{% bpm_round map.bpm %}</span></div>
                      </div>
                      <div class="icons">
                        <div class="icon"><i class="fa-solid fa-heart"></i> {% format_labels map.favourite_count %}</div>
                        <div class="icon"><i class="fa-solid fa-play"></i> {% format_labels map.play_count %}</div>
                        <div class="icon">{{ map.language }}</div>
                        <div class="icon">{{ map.genre }}</div>
                      </div>
                </div>

            </div>
            
    {% if not scroll_state %}        
        {% if forloop.last %}
            <a id="more" href="#maps" hx-get="{{request.get_full_path}}&page={{ page_obj.number|add:1 }}" hx-trigger="click" hx-swap="outerHTML" hx-target="#maps" class="btn btn-dark">Load more</a>
            {% endif %}
    {% endif %}

    {% endfor %}

    {% if scroll_state %}
        </div>
        <div hx-get="{{request.get_full_path}}&page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% endif %}

        <script>
                                
            var slider = document.getElementById("myRange");
            var audios = document.getElementsByTagName("audio");
            
            saveVolume();
        
            slider.oninput = function() {
                for (var i = 0; i < audios.length; i++) {
                    audios[i].volume = this.value / 100;
                }
            };
            
            window.onload = function() {
                for (var i = 0; i < audios.length; i++) {
                    audios[i].volume = slider.value / 100;
                }
            };

            function saveVolume() {
                for (var i = 0; i < audios.length; i++) {
                    audios[i].volume = slider.value / 100;
                }
            }
            
        </script>
    </div>
{% endblock %}