<form action="{% url 'beatmaps:search' %}" method="get" name="search" class="form" onsubmit="scrollToDiv(event)">

    <div class="row-header">
      <h2>Info</h2>
    </div>

    <div class="row">
      
      <div class="column">
          <div class="field">
            <label for="title">Song title</label>
            <input type="text" name="title" value="{{title}}" placeholder="Song title" class="field">
          </div>
      </div>

      <div class="column">
        <div class="field">
          <label for="artist">Song artist</label>
          <input type="text" name="artist" value="{{artist}}" placeholder="Song artist" class="field">
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label for="source">Song source</label>
          <input type="text" name="source" value="{{source}}" placeholder="Song source" class="field">
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label for="mapper">Song mapper</label>
          <input type="text" name="mapper" value="{{mapper}}" placeholder="Song mapper" class="field">
        </div>
      </div>
      
    </div>
    

    <div class="buttons">
      
      <div class="btn-row">
        <div class="row-title">
          <h2>Genre</h2>
        </div>
        {% for genre in view.get_genres %}
          <input type="checkbox" class="btn-check" id="genre_{{ genre.name }}" autocomplete="off" value="{{ genre.name }}" name="genre"
          {% if genre.name in genres %}
              checked
          {% endif %}>
          <label class="btn btn-outline-secondary" for="genre_{{ genre.name }}">{{ genre.name }}</label>
        {% endfor %}
      </div>




      <div class="btn-row">
        <div class="row-title">
          <h2>Language</h2>
        </div>
        {% for language in view.get_languages %}
          <input type="checkbox" class="btn-check" id="lang_{{language.name}}" autocomplete="off" value="{{language.name}}" name="language"
          {% if language.name in languages %}
              checked
          {% endif %}>
          <label class="btn btn-outline-secondary" for="lang_{{language.name}}">{{language.name}}</label>
        {% endfor %}
      </div>


      <div class="btn-row">
        <div class="row-title">
          <h2>Ranking</h2>
        </div>
        {% for map in view.get_map_types %}
          <input type="checkbox" class="btn-check" id="{{ map.type }}" autocomplete="off" value="{{ map.type }}" name="map_type"
          {% if map.type in map_types %}
              checked
          {% endif %}>
          <label class="btn btn-outline-secondary" for="{{ map.type }}">{{ map.type }}</label>
        {% endfor %}

      </div>

    </div>

   
  
   

    <div class="row-title">
      <h2>Other</h2>
    </div>

    <div class="row">
      
      <div class="column">
        
        <div class="field">
          <label>Length</label>
          <input type="number" name="min_length" class="field" placeholder="Min value" value="{{min_length}}">
        </div>
        <div class="field">
          <label>⠀</label>
          <input type="number" name="max_length" class="field" placeholder="Max value" value="{{max_length}}">
        </div>
      </div>
      
      <div class="column">
        
        <div class="field">
          <label>BPM</label>
          <input type="number" name="min_bpm" class="field" placeholder="Min value" value="{{min_bpm}}">
        </div>
        <div class="field">
          <label>⠀</label>
          <input type="number" name="max_bpm" class="field" placeholder="Max value" value="{{max_bpm}}">
        </div>
      </div>
      

      <div class="column">
        
        <div class="field">
          <label>Favorites</label>
          <input type="number" name="min_favorites" class="field" placeholder="Min value" value="{{min_favorites}}">
        </div>
        <div class="field">
          <label>⠀</label>
          <input type="number" name="max_favorites" class="field" placeholder="Max value" value="{{max_favorites}}">
        </div>
      </div>


      <div class="column">
        
        <div class="field">
          <label>Play count</label>
          <input type="number" name="min_plays" class="field" placeholder="Min value" value="{{min_plays}}">
        </div>
        <div class="field">
          <label>⠀</label>
          <input type="number" name="max_plays" class="field" placeholder="Max value" value="{{max_plays}}">
        </div>
      </div>

    </div>

    

    <div class="row-title-diff">
      <h2>Difficulty</h2>
    </div>
    

    <div class="row">

      <div class="container">

        <div class="div1">
          <h4>Star</h4>
        </div>

        <div class="div1">
          <div id="slider-star" class="slider"></div>
        </div>
        
        <div class="div2">
          <input class="field" type="number" id="min-star" min="0" max="10" step="0.1" name="min_star" {% if min_star %} value="{{min_star}}" {% else %} value="0" {% endif %}>
        </div>

        <div class="div2">
          <input class="field" type="number" id="max-star" min="0" max="10" step="0.1" name="max_star"  {% if max_star %} value="{{max_star}}" {% else %} value="10" {% endif %}>
        </div>

    </div>


    <div class="container">

      <div class="div1">
        <h4>AR</h4>
      </div>

      <div class="div1">
        <div id="slider-ar" class="slider"></div>
      </div>
      
      <div class="div2">
        <input class="field" type="number" id="min-ar" min="0" max="10" step="0.1" name="min_ar" {% if min_ar %} value="{{min_ar}}" {% else %} value="0" {% endif %}>
      </div>

      <div class="div2">
        <input class="field" type="number" id="max-ar" min="0" max="10" step="0.1" name="max_ar" {% if max_ar %} value="{{max_ar}}" {% else %} value="10" {% endif %}>
      </div>
    </div>


      <div class="container">

        <div class="div1">
          <h4>OD</h4>
        </div>
  
        <div class="div1">
          <div id="slider-od" class="slider"></div>
        </div>
        
        <div class="div2">
          <input class="field" type="number" id="min-od" min="0" max="10" step="0.1" name="min_od" {% if min_od %} value="{{min_od}}" {% else %} value="0" {% endif %}>
        </div>
  
        <div class="div2">
          <input class="field" type="number" id="max-od" min="0" max="10" step="0.1" name="max_od" {% if max_od %} value="{{max_od}}" {% else %} value="10" {% endif %}>
        </div>
      </div>


      <div class="container">

        <div class="div1">
          <h4>CS</h4>
        </div>
  
        <div class="div1">
          <div id="slider-cs" class="slider"></div>
        </div>
        
        <div class="div2">
          <input class="field" type="number" id="min-cs" min="0" max="10" step="0.1" name="min_cs" {% if min_cs %} value="{{min_cs}}" {% else %} value="0" {% endif %}>
        </div>
  
        <div class="div2">
          <input class="field" type="number" id="max-cs" min="0" max="10" step="0.1" name="max_cs" {% if max_cs %} value="{{max_cs}}" {% else %} value="10" {% endif %}>
        </div>
      </div>


      <div class="container">

        <div class="div1">
          <h4>CS</h4>
        </div>
  
        <div class="div1">
          <div id="slider-hp" class="slider"></div>
        </div>
        
        <div class="div2">
          <input class="field" type="number" id="min-hp" min="0" max="10" step="0.1" name="min_hp" {% if min_hp %} value="{{min_hp}}" {% else %} value="0" {% endif %}>
        </div>
  
        <div class="div2">
          <input class="field" type="number" id="max-hp" min="0" max="10" step="0.1" name="max_hp" {% if max_hp %} value="{{max_hp}}" {% else %} value="10" {% endif %}>
        </div>
      </div>

  </div>



      <div class="row-title">
        <h2>Date</h2>
      </div>

      <div class="row">
      
        <div class="column-footer">
            <div class="field-date">
              <label for="min">Start date</label>
              <input class="field-date" type="date" id="min" name="min_date" value="{{min_date}}"/>
            </div>
        </div>
  
        <div class="column-footer">
          <div class="field-date">
            <label for="max">End date</label>
            <input class="field-date" type="date" id="max" name="max_date" value="{{max_date}}"/>
          </div>
        </div>
      </div>


      <div class="row-title">
        <h2>Query order</h2>
      </div>


      <select class="form-select" aria-label="query order" name="query_order">
        {% for order in view.get_order_values %}
            <option value="{{order.val}}" {% if query_order == order.val %}selected{% endif %}>{{order.name}} </option>
        {% endfor %}
      </select>
      
      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Reverse</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="order_state" 
        {% if order_state %}
            checked
        {% endif %}>
      </div>


      <div class="row-title">
        <h2>Settings</h2>
      </div>

      <div class="field-date">
          <label>Volume</label>
          <input type="range" min="0" max="100" value="{{volume}}" class="slider" id="myRange" name="volume">
      </div>
 

      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Infinite scroll</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="scroll_state" 
        {% if scroll_state %}
            checked
        {% endif %}>
      </div>

      <div class="main-btns">
        <tr>
          <td><button href="#maps" type="submit" class="btn btn-success">Search</button></td>
          <td><a href="{% url 'beatmaps:index' %}" type="button" class="btn btn-danger">Reset</a></td>
        </tr>  
      </div>
</form>